section(class=`my-[3rem]`)
  .contentInner.countReset
    h2(class=`font-bold md:text-[2.4rem] mb-[2em]`) アニメーション
    p.typTxt テキストが入りますテキストが入ります
    p.typTxt.-role テキストが入りますテキストが入ります
    p.typTxt.-wave テキストが入りますテキストが入ります
    p.moveTxt テキストが入りますテキストが入ります
    p.scrollIn テキストが入りますテキストが入ります
    p.scrollIn.-up テキストが入りますテキストが入ります
    p.scrollIn.-down テキストが入りますテキストが入ります
    p.scrollIn.-right テキストが入りますテキストが入ります
    p.scrollIn.-left テキストが入りますテキストが入ります
    p.scroll.-leftSlide テキストが入りますテキストが入ります
    p.scroll.-mask テキストが入りますテキストが入ります
    figure.noiseImg
      img(src=imgPath + 'bnr_img001.jpg', alt='' width='' height='' decoding='async' loading='lazy' data-noize=imgPath + 'bunner.png')
    figure.scroll.-maskImg
      img(src=imgPath + 'bnr_img001.jpg', alt='' width='' height='' decoding='async' loading='lazy' data-noize=imgPath + 'bunner.png')
    figure.scroll.-scaleIn
      img(src=imgPath + 'bnr_img001.jpg', alt='' width='' height='' decoding='async' loading='lazy' data-noize=imgPath + 'bunner.png')
