meta(charset="utf-8")
include ../_layouts/_beginHead.html
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1.0,shrink-to-fit=no")
meta(name="format-detection", content="telephone=no")
title !{ head.title }
meta(name="description", content=head.description)
meta(name="keywords", content=head.keywords)

if slug === "top"
  meta(property="og:type", content="website")
else
  meta(property="og:type", content="article")

meta(property="og:local", content="ja_JP")
meta(property="og:site_name", content=site.sitename)
meta(property="og:title", content=head.title)
meta(property="og:description", content=head.description)
meta(property="og:url", content=head.url)
meta(property="og:image", content=site.ogp)
if site.facebookID
  meta(property="fb:app_id", content=site.facebookID)

meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:title", content=head.title)
meta(name="twitter:description", content=head.description)
meta(name="twitter:image", content=site.ogp)
if site.twitterName
  meta(name="twitter:site", content="@" + site.twitterName)

link(rel="icon", href=site.icon)
if site.icon
  link(rel="icon", href=site.icon + "/icon.svg", type="image/svg+xml")
if site.touchIcon
  link(rel="apple-touch-icon", sizes="180x180", href=site.icon + "/apple-touch-icon.png")

link(rel="canonical", href=head.url)

include ./_jsonLd

if site.webfont
  link(rel="preconnect", href="https://fonts.googleapis.com")
  link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
  link(href=site.webfont, rel="stylesheet")

link(rel="stylesheet", href="/scss/style.scss")
script(type="module", src="/ts/app.js", defer)
