<!-- フィルター -->
- let filter = content.filter ? content.filter : [];

section#sec02.sec-tab
  .contentInner
    h2(class="max-md:text-red") フィルタリングコンポーネント
    p カテゴリーを選択して要素の絞り込みを行うWeb Componentsです。
    ul.list-disc(class="pl-[1em]")
      li category属性にフィルタリングするカテゴリーを配列で入れます。記述がない場合、子要素が表示されるだけになります。
      li 子要素に実際にフィルタリングを行うコンテンツを入れます。その際、.c_filter_cat要素にそれぞれカテゴリーを入れてください。※フィルタリングのテキストと一致させる必要があります。
      li visibleオプションに数値を指定することで表示件数を設定できます。※もっと見るボタンを押すことで設定件数ずつ表示。
      li type属性を"radio"にすることで単一絞り込みになります。※デフォルトはcheckbox。
      li search属性を"OR"にすることでOR検索になります。※デフォルトはAND検索。
      li all属性で全件表示ボタンのテキストを変更できます。初期と一つも選択がない場合も全件表示になります。

    filter-list(category=filter.cats, all="すべて", search="OR")
      .grid.grid-cols-3(class="gap-[3.2rem]", slot="content")
        each list, i in filter.list
          .border-prime.c_filter_item(class="border-[0.1rem]")
            +picture(list.img.src, "", list.img.size)
            div(class="p-[2.4rem]")
              .flex(class="gap-[1.6rem] mb-[1.2rem]")
                each cat in list.cat
                  span.c_filter_cat.bg-prime.text-reversal.text-sm(class="p-[0.1em_0.5em]") !{ cat }
              h3.text-prime.font-bold(class="mb-[0.8rem]")
                span.block.text-sm No.!{ (i + 1) }
                span.text-lg !{ list.ttl }さん
              p(class="max-md:text-red") !{ list.txt }

<!-- /フィルター -->
