<!-- モーダル -->
- let modal = content["modal"] ? content["modal"] : [];

section(class="my-[3rem]")
  .contentInner
    h2.font-bold.text-h2.scrollIn.-up(class="mb-[2.4rem]") モーダルコンポーネント
    p(class="mb-[1.6rem]") アクセシビリティを考慮したモーダルコンポーネントです。<br>dyalog要素を使うことでキーボード操作に対応しています。
    ul.grid.grid-cols-3(class="gap-[1.6rem]")
      each val, i in modal
        li.scrollIn.-up.-each
          //- data-srcに画像、もしくはyoutubu動画のurlを入れることで自動でモーダルになります。
          //- ここで指定する画像は追跡から漏れるのでpublicフォルダに格納する必要があります。
          //- aria-controlsにIDを入れることで対象を展開するモーダルになります。
          button.c_modal_btn.c_btn(class="h-[5.6rem] w-[100%] rounded-[99rem]", data-src=val.btn.href ? val.btn.href : null, aria-controls=val.modalContent ? "modalContent" + (i + 1) : null) !{ val.btn.txt }

    each val, i in modal
      if val.modalContent
        //- ボタンで使用したaria-controlsと同じIDを入れることで対象を展開できます。
        dialog.c_modal(id="modalContent" + (i + 1))
          .c_modal_content
            .modalBody(tabindex="-1")
              h3.modal_ttl !{ val.modalContent.ttl }
              figure
                +imgPc(val.modalContent.img.src, val.modalContent.img.alt, val.modalContent.img.size)
              p !{ val.modalContent.txt }
            button.c_modal_close(aria-label="ウィンドウを閉じる")

<!-- /モーダル -->
