<!-- タブ -->
- let tab = content["tab"] ? content["tab"] : [];

section(class="my-[3rem]")
  .contentInner
    h2.font-bold.text-h2.scrollIn.-up(class="mb-[2.4rem]") タブコンポーネント
    p(class="mb-[1.6rem]") アクセシビリティを考慮したタブコンポーネントです。<br>aria属性を使うことでキーボード操作や音声読み上げに対応しています。
    .c_tab
      //- タブボタン
      ul.c_tab_list.grid.grid-cols-3(class="gap-x-[1.6rem] mb-[3.2rem]")
        each val, i in tab
          li.flex.justify-center.items-center
            button.c_btn(class="w-[100%] md:h-[5.6rem] rounded-[999rem]", id="tab" + (i + 1), class=i == 0 && "-open", aria-pressed=i == 0 ? "true" : "false", aria-controls="tabpanel" + (i + 1), tabindex=i == 0 ? "-1" : "0") !{ val.tabList }
      //- タブパネルの中身
      each val, i in tab
        .c_tab_content(role="tabpanel", id="tabpanel" + (i + 1), aria-labelledby="tab" + (i + 1), hidden=i == 0 ? null : "hidden")
          h3.text-h3.font-semibold(class="mb-[1.6rem]") !{ val.tabPanel.ttl }
          p !{ val.tabPanel.txt }

<!-- /タブ -->
