- const tab = ["タブリストA", "タブリストB", "タブリストC"];

section(class="my-[3rem]")
  .contentInner
    h2.font-bold(class="md:text-[2.4rem] mb-[2em]") タブ
    .c_tab
      //- タブボタン
      ul.c_tab_list.flex.flex-wrap.justify-center(class="gap-y-[1.6rem] gap-x-[1.4rem]")
        each val, indeix in tab
          li.flex.justify-center.items-center
            button.text-center.bg-reversal.text-txt.no-underline(class="w-[100%] md:h-[5.6rem] rounded-[999rem] leading-[calc(17/12)] md:leading-[calc(22/16)]", id="tab" + (i + 1), class=index == 0 && "-open", aria-pressed=i == 0 ? "true" : "false", aria-controls="tabpanel" + (i + 1)) !{ val }
      //- タブパネルの中身
      each val, i in tab
        .c_tab_content(role="tabpanel", id="tabpanel" + (i + 1), aria-labelledby="tab" + (i + 1), tabindex=i == 0 ? "0" : "-1", hidden=i == 0 ? null : "hidden") !{ val }中身
